<div class="container">
  <h1>Welcome to tweeter!</h1>
  <p>create a tweet!</p>

  <form name="input" action="/tweet" method="post">
    Last name: <textarea name="body" rows="8" cols="60"></textarea><br>
    twitter u: <input type="text" name="username">
    <input type="submit" value="Submit">
  </form>
</div>
