<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, test4747test!</p>
  <a href='/tweet'>tweet</a>

<form name="input" action="/user" method="get">
twitter user to grab: <input type="text" name="username">
<input type="submit" value="Submit">
</form>
</div>
